[Unit]
Description=diameter-db

[Service]
User=p1sec
Group=p1sec
WorkingDirectory=/home/p1sec/diameter-db
ExecStart=/home/p1sec/.local/bin/uv run hypercorn -w 4 --umask 666 --bind 'unix:/var/tmp/hypercorn.sock' diameter_db.webapp.app

[Install]
WantedBy=multi-user.target

