{% set title  = 'Results for "' + search_term + '"' %}

{% extends "base.html" %}

{% block extra_styles %}

    <style>
        main {
            font-size: 16px;
        }
        
        .pagination {
            text-align: center;
        }
        
        .result a {
            display: inline-block;
            margin-bottom: 3px;
        }
    </style>
        
{% endblock %}

{% block contents %}

    <h1>{{ title }}</h1>
    
    {% if not results %}
    
        <p>No results.</p>
    
    {% else %}
    
        <p><b>{{ number_results }}</b> results</p>
        <br>
            
        <p class="pagination">{{ pagination | safe }}</p>
    
        {% for result in results %}
        
            <p class="result">
                <a href="{{ result.url }}" target="_blank">{{ result.title | safe }}</a><br>
                {{ result.snippet | safe }}
            </p>
        
        {% endfor %}
            
        <p class="pagination">{{ pagination | safe }}</p>
    
    {% endif %}

{% endblock %}
