{% set title  = 'Welcome to diameter-db' %}

{% extends 'base.html'  %}


{% block contents %}

    <h1>{{ title }}</h1>
    
    <p>This is <a href="https://www.p1sec.com">P1 Security's</a> database of <a href="https://en.wikipedia.org/wiki/Diameter_(protocol)">Diameter protocol</a> applications, AVPs and command codes, a machine-processable and freely available database focused on 4G mobile core networks.</p>
    
    <p>
        Our Diameter protocol database currently contains:
    
        <ul>
            <li><b>{{ "{:,}".format(num_of_applications) }}</b> applications</li>
            <li><b>{{ "{:,}".format(num_of_vendors) }}</b> vendors</li>
            <li><b>{{ "{:,}".format(num_of_commands) }}</b> commands</li>
            <li><b>{{ "{:,}".format(num_of_avps) }}</b> AVPs</li>
            <li><b>{{ "{:,}".format(num_of_avps_occurrences) }}</b> AVP occurrences in commands</li>
        </ul>
    </p>
    
    <p>Pick an option in the right panel to browse an application or command code.</p>
    
    <br>
    <hr>
    <br><br>
    
    <form method="get" action="https://github.com/P1sec/diameter-db">
        <input type="submit" value="View the source code on Github">
    </form>
    <br>
    <form method="get" action="https://github.com/P1sec/diameter-db/raw/master/database.sqlite3">
        <input type="submit" value="Export the .sqlite3 database">
    </form>
    <br>
    <form method="get" action="https://github.com/P1sec/diameter-db/blob/master/src/diameter_db/common/database.py">
        <input type="submit" value="Download the SQLAlchemy .py schema">
    </form>
    <br>
    <form method="get" action="https://github.com/P1sec/diameter-db/raw/master/data/csv_in_zip_database_export.zip">
        <input type="submit" value="Download the .csv in .zip export of the SQLite database">
    </form>

{% endblock %}
